version: "3.9"

networks:
  my-net:
    name: my-net

services:
  acmeair-nginx1:
    container_name: acmeair-nginx1
    networks: 
      - my-net
    restart: always
    build: ./nginx/
    ports:
      - "80:80"
    volumes:
      - /www/public
    depends_on:
      - acmeair-mainservice-java
      - acmeair-authservice-java
      - acmeair-bookingservice-java
      - acmeair-customerservice-java
      - acmeair-flightservice-java

  acmeair-mainservice-java:
    container_name: acmeair-mainservice-java
    networks: 
      - my-net
    build: 
      context: ../acmeair-mainservice-java/
      dockerfile: Dockerfile-daily

  acmeair-authservice-java:
    container_name: acmeair-authservice-java
    networks: 
      - my-net
    build:
      context: ../acmeair-authservice-java/
      dockerfile: Dockerfile-io
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 1G
    cap_add:
      - CHECKPOINT_RESTORE
      - SETPCAP
    security_opt:
      - seccomp:unconfined
    depends_on:
      - acmeair-customerservice-java

  acmeair-bookingservice-java:
    container_name: acmeair-bookingservice-java
    networks: 
      - my-net
    build:
      context: ../acmeair-bookingservice-java/
      dockerfile: Dockerfile-io
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 1G
    cap_add:
      - CHECKPOINT_RESTORE
      - SETPCAP
    security_opt:
      - seccomp:unconfined  
    depends_on:
      - acmeair-customerservice-java
      - acmeair-flightservice-java

  acmeair-customerservice-java:
    container_name: acmeair-customerservice-java
    networks: 
      - my-net
    build:
      context: ../acmeair-customerservice-java/
      dockerfile: Dockerfile-io
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 1G
    cap_add:
      - CHECKPOINT_RESTORE
      - SETPCAP
    security_opt:
      - seccomp:unconfined  

  acmeair-flightservice-java:
    container_name: acmeair-flightservice-java
    networks: 
      - my-net
    build:
      context: ../acmeair-flightservice-java/
      dockerfile: Dockerfile-io
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 1G
    cap_add:
      - CHECKPOINT_RESTORE
      - SETPCAP
    security_opt:
      - seccomp:unconfined  









