<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">
	<!-- Enable features -->
	<featureManager>
		<feature>microProfile-2.0</feature>
		<feature>usr:opentracingZipkin-0.31</feature>
		<feature>jndi-1.0</feature>
		<feature>jsp-2.3</feature>
		<feature>servlet-4.0</feature>
		<feature>managedBeans-1.0</feature>
		<feature>websocket-1.1</feature>
	</featureManager>

	<!-- To access this server from a remote client add a host attribute to 
		the following element, e.g. host="*" -->
	<httpEndpoint id="defaultHttpEndpoint" host="*"
		httpPort="9080" httpsPort="9443">
	</httpEndpoint>

	<quickStartSecurity userName="${env.USERNAME}"
		userPassword="${env.PASSWORD}" />

	<opentracingZipkin />

	<webApplication name="acmeair-mainservice"
		location="acmeair-mainservice-java-2.0.0-SNAPSHOT.war"
		contextRoot="/acmeair" />
	<cdi12 enableImplicitBeanArchives="false" />
</server>
