<?xml version="1.0" encoding="UTF-8"?>
<server>
  <!-- Enable features -->
  <featureManager>
    <feature>microProfile-6.0</feature>
  </featureManager>

  <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
  <httpEndpoint 
    id="defaultHttpEndpoint" 
    host="*" 
    httpPort="9080" 
    httpsPort="9443">
    <accessLogging 
      enabled="${ACCESS_LOGGING_ENABLED}" 
      filepath="${server.output.dir}/logs/http_defaultEndpoint_access.log" 
      logFormat='%h %u %t "%r" %s %b %D %{User-agent}i'>
    </accessLogging>
  </httpEndpoint>

  <quickStartSecurity userName="${env.USERNAME}" userPassword="${env.PASSWORD}" />

  <logging 
    consoleFormat="${LOGGING_FORMAT}" 
    consoleSource="message,trace,accessLog,ffdc,audit" 
    messageFormat="${LOGGING_FORMAT}" 
    messageSource="message,trace,accessLog,ffdc,audit" 
    traceSpecification="${TRACE_SPEC}" />

  <webApplication name="acmeair-mainservice" location="acmeair-mainservice-java-6.0.war" contextRoot="/acmeair">
    <!-- enable visibility to third party apis -->
    <classloader apiTypeVisibility="api,ibm-api,spec,stable,third-party" />
  </webApplication>

  <cors 
    domain="/acmeair" 
    allowedOrigins="*" 
    allowedMethods="OPTIONS, GET, DELETE, POST" 
    allowedHeaders="*" 
    allowCredentials="true" 
    maxAge="3600" />

</server>
